/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}
/* LAYOUT */
.conteiner{
    width: 900px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* header style */
.main-header{
    background-color: rgb(122, 122, 247);
}
.row.navbar{
    justify-content: space-between;
   align-content: center;
}
.main-header .conteiner{
    padding: 20px;
}
.navbar > *{
    border: 1px solid blue;
    min-height: 50px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    gap:20px ;
}
/* MAIN STYLE */
.section-layout-1{
    background-color: blue;
}
/* DEBUG */
.conteiner .debug{
    background-color: orange;
}