/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}
/* LAYOUT */
.conteiner{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.footer-conteiner{
    width: 900px;
    margin: 0 auto;
    padding: 5px 20px 20px ;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-80{
    border: 1px solid red;
    min-height: 300px;
    flex-basis: 80%;
    background-color: rgb(111, 181, 243);
}
.col-66{
    border: 1px solid red;
    min-height: 350px;
    flex-basis: calc(100% / 3*2);
    background-color: blueviolet;
}
.col-33{
    border: 1px solid red;
    min-height: 350px;
    flex-basis: calc(100% / 3);
    background-color: pink;
}
.col-100{
    min-height: 500px;
    border: 1px solid red;
    flex-basis: 100%;
    background-color: green;
}
.col-32{
    background-color: coral;
    min-height: 350px;
    border: 1px solid red;
    flex-basis: calc(100% /6*2);
}
.col-16{
    background-color: pink;
    min-height: 350px;
    border: 1px solid red;
    flex-basis: calc(100% / 6);
}

/* header style */
.main-header{
    background-color: rgb(122, 122, 247);
}
.row.navbar{
    justify-content: center;
   align-items: center;
   min-height: 50px;
}
.navbar > *{
    border: 1px solid blue;
    padding: 15px;
    
}
.logo{
    flex-grow: 1;
}
.cta{
    flex-grow: 1;
    text-align: end;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    gap:20px ;
    flex-grow: 2;
}
/* MAIN STYLE */
.section-layout-1{
    background-color: blue;
}
.section-layout-1 .row{
    justify-content: center;
}
.section-layout-2,.section-layout-4{
    background-color: white;
}
.section-layout-3,.section-layout-5{
    background-color: pink;
}
/* footer style */
.section-layout-6,.section-layout-7{
    background-color: rgb(61, 59, 59);
}
.section-layout-7 .row{
    justify-content: space-between;
    background-color: beige;
    min-height: 50px;
    align-items: center;
}
.section-layout-7 .footer-conteiner{
    padding: 10px 20px 0px;
}
.section-layout-7{
    border-top:1px solid white;
    border-bottom:1px solid white;
}
.footer-logo,.footer-button{
    background-color: gray;
    border: 1px solid red;
}

/* DEBUG */
.conteiner .debug{
    background-color: orange;
}
