/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
}
ul,ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}
/* LAYOUT */
.conteiner{
    width: 900px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* header style */
.main-header{
    background-color: blue;
}
.row.navbar{
    justify-content: space-between;
    align-items: center;
}
/* DEBUG */
.conteiner .debug{
    background-color: orange;
}